<div class="hero">
  <br />
    <div class="frosty col-xs-10 offset-xs-1">
        <br />
        <h1>Learn programming from the Pros</h1>
        <br />
        <%= link_to 'Learn more', courses_path, class: 'btn btn-success' %>
        <br /><br />
    </div>
</div>

<br />
<div class="col-xs-10 offset-xs-1 features text-xs-center">
  <div class="col-sm-4">
    <h3>Amazing Course Contents</h3>
    <br />
    <p>Choose from over a hundred courses covering every trendy technologies.</p>
  </div>
  
  <div class="col-sm-4">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Lifetime access to the material for the courses you are enrolled in.</p>
  </div>
  
  <div class="col-sm-4">
    <h3>Great Community and 24/7 Online Support</h3>
    <br />
    <p>Chat with one of our tutors on Slack anytime you get stuck.</p>
  </div>
</div>